<h1>This is the secret page!</h1>

<p> You found me!</p>

<img src="https://3.bp.blogspot.com/-MfnjJqmr9QM/Wa3l-RfwUkI/AAAAAAAAAjk/jiUl9w_WVzwP0JOyvtPiFfj1oNypQtQRwCLcBGAs/s1600/authentication%2Bwith%2Bnodejs%2Band%2Bpassportjs.png"></img>

<li> <a href="/register"> Sign Up!</a></li>
<li> <a href="/login"> Login</a></li>
<li> <a href="/logout"> Logout</a></li>